---
title: Choose Patient Language 
---
%p.lead Choose patient language
%ul.list-group
  - data.languages.each do |language_code, language_data|
    = partial "language_link", locals: { href: "#{language_code}.html", 
                                         language_name: language_data.language_name}
