---
title: Choose Your Language
---
%p.lead Choose your language
%ul.list-group
  - data.languages.each do |language_code, language_data|
    = partial('language_link', locals: { href: "/#{language_code}/", language_name: language_data.language_name })
